* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fdf6ec; }

header {
  background-color: #dab88b;
  position: sticky;
  top: 0;
  z-index: 1; }
  header .logo {
    margin: 0.2rem;
    border-radius: 1rem; }
  header .navbar-toggler {
    background-color: #ded3c2; }
  header .navbar-nav {
    margin-left: auto;
    padding: 0; }
  header .nav-item :hover {
    background-color: #dacdc8;
    font-weight: bold;
    border-radius: 1rem; }

.ventas_destacadas {
  grid-area: ventas_destacadas;
  text-align: center;
  color: black;
  display: grid;
  grid-template-areas: "titulo_principal_ventas"
 "ventas_propiedad1"
 "ventas_propiedad2"
 "ventas_propiedad3"
 "ventas_video"
 "ventas_descripcion"
 "ventas_lista"; }

.titulo_principal_ventas {
  grid-area: titulo_principal_ventas;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #f3e9dd;
  text-align: center; }

.ventas_propiedad1 {
  grid-area: ventas_propiedad1;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 1.3rem;
  background-color: #b5a770;
  text-transform: uppercase; }

.ventas_propiedad2 {
  grid-area: ventas_propiedad2;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 1.4rem; }

.ventas_propiedad3 {
  grid-area: ventas_propiedad3;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 1.3rem; }

.ventas_video {
  grid-area: ventas_video;
  border-radius: 2rem;
  justify-self: center; }

.ventas_descripcion {
  grid-area: ventas_descripcion;
  margin: 0.1rem;
  padding: 0.1rem;
  font-size: 1.2rem; }

.ventas_lista {
  grid-area: ventas_lista;
  list-style-position: inside;
  list-style-type: square;
  font-size: 1rem;
  margin: 0.1rem; }

.alquileres_destacados {
  padding: 0.2rem;
  display: grid;
  grid-template-areas: "alquileres_titulo"
 "alquileres_propiedad1"
 "alquileres_propiedad2"
 "alquileres_propiedad3"
 "carouselExampleControls"
 "alquileres_descripcion"
 "alquileres_servicios"
 "alquileres_lista";
  text-align: center; }
  .alquileres_destacados .alquileres_titulo {
    grid-area: alquileres_titulo;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #f3e9dd;
    text-align: center; }
  .alquileres_destacados .alquileres_propiedad1 {
    grid-area: alquileres_propiedad1;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.3rem;
    background-color: #b5a770;
    text-transform: uppercase; }
  .alquileres_destacados .alquileres_propiedad2 {
    grid-area: alquileres_propiedad2;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.4rem; }
  .alquileres_destacados .alquileres_propiedad3 {
    grid-area: alquileres_propiedad3;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.2rem; }
  .alquileres_destacados #carouselExampleControls {
    grid-area: carouselExampleControls;
    border-radius: 2rem;
    justify-self: center; }
  .alquileres_destacados .alquileres_descripcion {
    grid-area: alquileres_descripcion;
    margin: 0.1rem;
    padding: 0.1rem;
    font-size: 1.2rem; }
  .alquileres_destacados .alquileres_servicios {
    grid-area: alquileres_servicios;
    margin: 0.3rem;
    padding: 0.1rem;
    font-size: 1.2rem;
    text-decoration: underline; }
  .alquileres_destacados .alquileres_lista {
    grid-area: alquileres_lista;
    list-style-position: inside;
    list-style-type: square;
    font-size: 1rem;
    margin: 0.1rem; }

.pieDePaguina {
  grid-area: pieDePaguina;
  background-color: #b7cadb;
  display: grid;
  grid-template-areas: "logo_fin"
 "footer_inmo";
  font-size: 0.6rem;
  gap: 0.5rem; }

.logo_fin {
  grid-area: logo_fin;
  display: flex;
  justify-content: center; }

.logo_fin1 {
  height: 18vh;
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: 1rem; }

.footer_inmo {
  grid-area: footer_inmo;
  text-align: center;
  margin: 0.2rem; }

.footer_colegio {
  grid-area: footer_colegio;
  margin: 0.1rem;
  padding: 0.1rem; }

.autor {
  grid-area: autor;
  margin: 0.1rem;
  padding: 0.1rem; }

.footer_nombre {
  margin: 0.1rem;
  padding: 0.1rem; }

@media screen and (min-width: 768px) {
  .ventas_destacadas {
    display: grid;
    grid-template-areas: "titulo_principal_ventas titulo_principal_ventas"
 "ventas_propiedad1 ventas_propiedad1"
 "ventas_propiedad2 ventas_propiedad2"
 "ventas_propiedad3 ventas_propiedad3"
 "ventas_video ventas_descripcion"
 "ventas_video ventas_lista"; }
  .ventas_video {
    height: 60vh;
    width: 80vh;
    margin: 2rem; }
  .ventas_descripcion {
    margin: 2rem; }
  .alquileres_destacados {
    display: grid;
    grid-template-areas: "alquileres_titulo alquileres_titulo"
 "alquileres_propiedad1 alquileres_propiedad1"
 "alquileres_propiedad2 alquileres_propiedad2"
 "alquileres_propiedad3 alquileres_propiedad3"
 "carouselExampleControls alquileres_descripcion"
 "carouselExampleControls alquileres_servicios"
 "carouselExampleControls alquileres_lista"; }
  #carouselExampleControls {
    height: 60vh;
    width: 80vh;
    margin: 2rem; }
  .pieDePaguina {
    display: grid;
    grid-template-areas: "logo_fin footer_inmo";
    height: 20vh; }
  .logo_fin {
    grid-area: logo_fin;
    height: 12vh;
    margin: 0.1rem;
    padding: 0.3rem;
    border-radius: 1rem; }
  .footer_inmo {
    grid-area: footer_inmo;
    text-align: end;
    margin-top: 2rem;
    font-size: 0.7rem; } }

@media screen and (min-width: 1200px) {
  .navbar-nav {
    font-size: 1.3rem; }
  .ventas_destacadas .titulo_principal_ventas {
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 2.3rem; }
  .ventas_destacadas .titulo_principal_ventas:hover {
    animation-iteration-count: infinite; }
  .ventas_destacadas .ventas_video {
    height: 90vh;
    width: 120vh;
    margin: 2rem; }
  .ventas_destacadas .ventas_propiedad1 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem; }
  .ventas_destacadas .ventas_propiedad2 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.8rem; }
  .ventas_destacadas .ventas_propiedad3 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.8rem; }
  .ventas_destacadas .ventas_descripcion {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.8rem; }
  .ventas_destacadas .ventas_lista {
    font-size: 1.5rem;
    margin: 0.3rem; }
  .alquileres_destacados .alquileres_titulo {
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 2.3rem; }
  .alquileres_destacados .alquileres_titulo:hover {
    animation-iteration-count: infinite; }
  .alquileres_destacados .alquileres_propiedad1 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem; }
  .alquileres_destacados .alquileres_propiedad2 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.8rem; }
  .alquileres_destacados .alquileres_propiedad3 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.8rem; }
  .alquileres_destacados .alquileres_descripcion {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.8rem; }
  .alquileres_destacados .alquileres_servicios {
    grid-area: alquileres_servicios;
    margin: 0.3rem;
    padding: 0.3rem;
    font-size: 1.8rem; }
  .alquileres_destacados .alquileres_lista {
    font-size: 1.5rem;
    margin: 0.3rem; }
  .pieDePaguina {
    height: 20vh; }
    .pieDePaguina .logo_fin1 {
      height: 16vh;
      margin: 0.1rem;
      padding: 0.3rem;
      border-radius: 1rem; }
    .pieDePaguina .footer_inmo {
      font-size: 0.8rem; } }

.contenedor_ventas {
  display: grid;
  grid-template-areas: "cabecera"
 "seccion_ventas"
 "pieDePaguina";
  gap: 0.1rem; }

.cabecera {
  grid-area: cabecera; }

.seccion_ventas {
  grid-area: seccion_ventas;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem; }
  .seccion_ventas .titulo_ventas {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #f3e9dd;
    text-align: center; }
  .seccion_ventas .ventas_propiedad1 {
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.3rem;
    background-color: #b5a770;
    text-transform: uppercase; }
  .seccion_ventas .ventas_propiedad2 {
    padding: 0.3rem;
    margin: 0.3rem; }
  .seccion_ventas .ventas_propiedad3 {
    padding: 0.3rem;
    margin: 0.3rem; }
  .seccion_ventas .ventas_descripcion {
    padding: 0.5rem;
    margin: 0.3rem; }
  .seccion_ventas .ventas_lista {
    margin: 0.5rem;
    padding: 0.5rem;
    list-style-position: inside;
    list-style-type: square;
    font-size: 1rem;
    list-style-type: disc; }

.pieDePaguina {
  grid-area: pieDePaguina; }

.alquileres_servicios {
  margin: 0.1rem;
  padding: 0.1rem;
  font-size: 1.2rem; }

.alquileres_lista {
  list-style-position: inside;
  list-style-type: square;
  font-size: 1rem;
  margin: 0.1rem; }

@media screen and (min-width: 1200px) {
  .seccion_ventas {
    display: grid;
    grid-template-areas: "titulo_ventas titulo_ventas"
 "ventas_propiedad1 ventas_propiedad1" 
 "ventas_propiedad2 ventas_propiedad2"
 "ventas_propiedad3 ventas_propiedad3"
 "imagenes_ventas ventas_descripcion"
 "imagenes_ventas ventas_lista";
    gap: 1rem; }
  .titulo_ventas {
    grid-area: titulo_ventas; }
  .ventas_propiedad1 {
    grid-area: ventas_propiedad1; }
  .ventas_propiedad2 {
    grid-area: ventas_propiedad2; }
  .ventas_propiedad3 {
    grid-area: ventas_propiedad3; }
  .imagenes_ventas {
    grid-area: imagenes_ventas; }
  .ventas_descripcion {
    grid-area: ventas_descripcion; }
  .ventas_lista {
    grid-area: ventas_lista; }
  .seccion_ventas .titulo_ventas {
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 2.3rem; }
  .seccion_ventas .ventas_propiedad1 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem; }
  .seccion_ventas .ventas_propiedad2 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.7rem; }
  .seccion_ventas .ventas_propiedad3 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.8rem; }
  .seccion_ventas .ventas_descripcion {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.8rem; }
  .seccion_ventas .ventas_lista {
    font-size: 1.5rem;
    margin: 0.3rem; } }

.contenedor_nosotros {
  display: grid;
  grid-template-areas: "navbar"
 "nosotros_empresa"
 "nosotros_staff"
 "pieDePaguina";
  gap: 1rem; }

.navbar {
  grid-area: navbar; }

.nosotros_empresa {
  grid-area: nosotros_empresa; }
  .nosotros_empresa .titulo_nosotros {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #f3e9dd;
    text-align: center; }
  .nosotros_empresa .imagen_nosotros {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem; }
  .nosotros_empresa .parrafo_nosotros {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem; }

.nosotros_staff {
  grid-area: nosotros_staff; }
  .nosotros_staff .equipo {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #f3e9dd;
    text-align: center; }
  .nosotros_staff .imagen_staff {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem; }
  .nosotros_staff .parrafo_staff {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem; }

.pieDePaguina {
  grid-area: pieDePaguina; }

@media screen and (min-width: 1200px) {
  .nosotros_empresa {
    display: grid;
    grid-template-areas: "titulo_nosotros titulo_nosotros"
 "imagen_nosotros parrafo_nosotros";
    gap: 1rem; }
  .titulo_nosotros {
    grid-area: titulo_nosotros; }
  .nosotros_empresa .titulo_nosotros {
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 2.3rem; }
  .nosotros_empresa .imagen_nosotros {
    width: 100vh; }
  .nosotros_empresa .parrafo_nosotros {
    font-size: 1.2rem; }
  .imagen_nosotros {
    grid-area: imagen_nosotros; }
  .parrafo_nosotros {
    grid-area: parrafo_nosotros; }
  .nosotros_staff {
    display: grid;
    grid-template-areas: "equipo equipo"
 "imagen_staff parrafo_staff";
    gap: 1rem; }
  .nosotros_staff .equipo {
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 2.3rem; }
  .nosotros_staff .imagen_staff {
    width: 100vh; }
  .nosotros_staff .parrafo_staff {
    font-size: 1.2rem; }
  .equipo {
    grid-area: equipo; }
  .imagen_staff {
    grid-area: imagen_staff; }
  .parrafo_staff {
    grid-area: parrafo_staff; } }

.titulo_tasacion {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #f3e9dd;
  text-align: center; }

.parrafo_tasacion {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem; }

.contenedor_formulario {
  display: flex;
  justify-content: center; }

.formulario {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #b5a770;
  border-radius: 1rem;
  text-align: center;
  display: inline-block;
  justify-content: center; }

.datos {
  font-size: 1.8rem;
  margin-bottom: 1.5rem; }

.cuadro_info {
  background-color: #deded5;
  width: 80%;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.6rem;
  font-size: 1.2rem; }

.cuadro_info2 {
  background-color: #deded5;
  width: 80%;
  height: 10rem;
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.6rem;
  font-size: 1.2rem; }

@media screen and (min-width: 1200px) {
  .titulo_tasacion {
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 2.3rem; }
  .parrafo_tasacion {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem; }
  .formulario {
    width: 170vh;
    font-size: 2.2rem; }
  .datos {
    font-size: 2.5rem; }
  .cuadro_info {
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 1.5rem;
    font-size: 1.8rem; }
  .cuadro_info2 {
    height: 25vh;
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.6rem;
    font-size: 1.8rem; } }

.seccion_contactos {
  display: grid;
  gap: 1rem;
  grid-template-areas: "titulo_contactanos"
 "contacto_oficina"
 "contacto_ubicacion"
 "consulta"
 "formulario"; }

.titulo_contactanos {
  grid-area: titulo_contactanos; }

.seccion_contactos .titulo_contactanos {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #f3e9dd;
  text-align: center; }

.contacto_oficina {
  grid-area: contacto_oficina;
  background-image: url(imagencontacto.jpg);
  background-size: cover;
  text-align: center;
  margin-bottom: 0%;
  width: 90%;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 0.1rem; }

.numero_tel {
  color: #e8f79e; }

.contacto_ubicacion {
  grid-area: contacto_ubicacion;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center; }

.mapa_contacto {
  width: 90%; }

.consulta {
  grid-area: consulta;
  margin: 1rem;
  padding: 0.5rem; }

.formulario {
  grid-area: formulario; }

@media screen and (min-width: 1200px) {
  .seccion_contactos .titulo_contactanos {
    padding: 0.8rem;
    margin: 0.8rem;
    font-size: 2.3rem; }
  .seccion_contactos .contacto_oficina {
    font-size: 1.5rem; }
  .mapa_contacto {
    height: 100vh; }
  .consulta {
    font-size: 1.2rem; } }

  .boton{
      border: 1px solid rgba(56, 30, 4, 0.5);
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
      background-color: #c9c4ad;
  }
  .boton:hover{
      background-color: rgba(119, 84, 38, 0.5);
  }
  .img-js{
    height: 70%;
    width: 70%;
  }

  /* POPUP */
.popupDetalle{
  position: fixed;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popupDetalle>div{
  background-color: #e2d0af;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}
.product-detail .imagen{
  width: 50%;
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
}

.closePopup{
  text-align: end;
  width: 100%;
}
.product-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.descripcion-detail .click{
  margin: 10px 0
}
.descripcion-detail .click .resultado{
  margin: 0 10px
}
.descripcion-detail .click .less, .descripcion-detail .click .more{
  border: 2px solid rgb(122, 152, 162);
  background-color: lightblue;
  border-radius: 50%;
  padding: 3px 7px;
}
.d-none{
  display: none;
}