//estilos para html proncipal movile
@import "../utilities/mixin";

//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-principal;
}
header{
    background-color: $color-header;
    position: sticky;
    top: 0;  
    z-index: 1; 

    .logo{
        margin: 0.2rem;
        border-radius: 1rem;
     }
    .navbar-toggler{
        background-color: rgb(222, 211, 194);
    }
    
    .navbar-nav{
        margin-left: auto;
        padding: 0;
    }
    .nav-item :hover{
        background-color: rgb(218, 205, 200);
        font-weight: bold;
        border-radius: 1rem;  
      
    }

}

.ventas_destacadas{
    grid-area: ventas_destacadas;
    text-align: center;
    color: black; 
    display: grid;
    grid-template-areas: "titulo_principal_ventas"
                         "ventas_propiedad1"
                         "ventas_propiedad2"
                         "ventas_propiedad3"
                         "ventas_video"
                         "ventas_descripcion"
                         "ventas_lista";
 
}

    .titulo_principal_ventas{
    grid-area: titulo_principal_ventas;
    @include titulosPrincipalesCel
     
     }
    .ventas_propiedad1{
    grid-area: ventas_propiedad1; 
    @include subtitulosCel    
}
    .ventas_propiedad2{
    grid-area: ventas_propiedad2;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.4rem; 
}
    .ventas_propiedad3{
    grid-area: ventas_propiedad3;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.3rem; 
    
}

    .ventas_video{
    grid-area: ventas_video;
    border-radius: 2rem;
    justify-self: center;
}
    .ventas_descripcion{
    grid-area: ventas_descripcion;
    margin: 0.1rem;
    padding: 0.1rem;
    font-size: 1.2rem;
}
    .ventas_lista{
    grid-area: ventas_lista;
    list-style-position: inside;
    list-style-type: square;
    font-size: 1rem;
    margin: 0.1rem;
}

//section alquiler destacador

.alquileres_destacados{
    
    padding: 0.2rem;
    display: grid;
    grid-template-areas: "alquileres_titulo"
                         "alquileres_propiedad1"
                         "alquileres_propiedad2"
                         "alquileres_propiedad3"
                         "carouselExampleControls"
                         "alquileres_descripcion"
                         "alquileres_servicios"
                         "alquileres_lista";
    text-align: center;


.alquileres_titulo{
    grid-area: alquileres_titulo;
    @include titulosPrincipalesCel
}

.alquileres_propiedad1{
    grid-area: alquileres_propiedad1;
    @include subtitulosCel;
    
}
.alquileres_propiedad2{
    grid-area: alquileres_propiedad2;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.4rem;
    
}
.alquileres_propiedad3{
    grid-area: alquileres_propiedad3;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.2rem;
    
}
#carouselExampleControls{
    grid-area: carouselExampleControls;
    border-radius: 2rem;
    justify-self: center;

    
    
}
.alquileres_descripcion{
    grid-area: alquileres_descripcion;
    margin: 0.1rem;
    padding: 0.1rem;
    font-size: 1.2rem;
    
}
.alquileres_servicios{
    grid-area: alquileres_servicios; 
    margin: 0.3rem;
    padding: 0.1rem;
    font-size: 1.2rem; 
    text-decoration: underline;

}
.alquileres_lista{
    grid-area: alquileres_lista;
    list-style-position: inside;
    list-style-type: square;
    font-size: 1rem;
    margin: 0.1rem;       
}
}

//estilos a footer
.pieDePaguina{
    grid-area: pieDePaguina;
    background-color: $color-footer;
    display: grid;
    grid-template-areas: "logo_fin"
                         "footer_inmo";
    font-size: 0.6rem;
    gap: 0.5rem;
    
}
.logo_fin{
    grid-area: logo_fin;
    display: flex;
    justify-content: center;
}
.logo_fin1{
    height: 18vh;
    margin: 0.1rem;
    padding: 0.3rem;
    border-radius: 1rem;
}

.footer_inmo{
    grid-area: footer_inmo;
    text-align: center;
    margin: 0.2rem;
    

}
.footer_colegio{
    grid-area: footer_colegio;
    margin: 0.1rem;
    padding: 0.1rem;
    
}
.autor{
    grid-area: autor;
    margin: 0.1rem;
    padding: 0.1rem;

}
.footer_nombre{
    margin: 0.1rem;
    padding: 0.1rem;
}


//estilos para medidas en tablets

@media screen and (min-width:768px) {

    .ventas_destacadas{
        display: grid;
        grid-template-areas: "titulo_principal_ventas titulo_principal_ventas"
                             "ventas_propiedad1 ventas_propiedad1"
                             "ventas_propiedad2 ventas_propiedad2"
                             "ventas_propiedad3 ventas_propiedad3"
                             "ventas_video ventas_descripcion"
                             "ventas_video ventas_lista";
        
    }
    .ventas_video{
        height: 60vh;
        width: 80vh;
        margin: 2rem;
    }
    .ventas_descripcion{
        margin: 2rem;
    }    
    

    .alquileres_destacados{
        display: grid;
        grid-template-areas: "alquileres_titulo alquileres_titulo"
                             "alquileres_propiedad1 alquileres_propiedad1"
                             "alquileres_propiedad2 alquileres_propiedad2"
                             "alquileres_propiedad3 alquileres_propiedad3"
                             "carouselExampleControls alquileres_descripcion"
                             "carouselExampleControls alquileres_servicios"
                             "carouselExampleControls alquileres_lista";
        
    }
    
    #carouselExampleControls{
        height: 60vh;
        width: 80vh;
        margin: 2rem;
    }

 //footer para tablet
 .pieDePaguina{
    display: grid;
    grid-template-areas: "logo_fin footer_inmo";
    
    height: 20vh;
}
.logo_fin{
    grid-area: logo_fin;
    height: 12vh;
    margin: 0.1rem;
    padding: 0.3rem;
    border-radius: 1rem;
}
.footer_inmo{
    grid-area: footer_inmo;
    text-align: end;
    margin-top: 2rem;
    font-size: 0.7rem;
}

    }


  // estilos para destblok
@media screen and (min-width:1200px)  {

    .navbar-nav{
        font-size: 1.3rem;
    }

    .ventas_destacadas{
        
        .titulo_principal_ventas{
            @include titulosPrincipalesPc
        }
        .titulo_principal_ventas:hover{
            animation-iteration-count: infinite;
        }
        .ventas_video{
            height: 90vh;
            width: 120vh;
            margin: 2rem;
        }
        .ventas_propiedad1{
            @include subtitulospc
        }
        
        .ventas_propiedad2{
    
            padding: 0.5rem;
            margin: 0.5rem;
            font-size: 1.8rem; 
        }
        .ventas_propiedad3{
            padding: 0.5rem;
            margin: 0.5rem;
            font-size: 1.8rem; 
            
        }
            
        .ventas_descripcion{
            
            margin: 2rem;
            padding: 2rem;
            font-size: 1.8rem;
            
            
        }
        .ventas_lista{
            font-size: 1.5rem;
            margin: 0.3rem;
            
        }
    }
    .alquileres_destacados{

    
    .alquileres_titulo{
       padding: 0.8rem;
       margin: 0.8rem;
       font-size: 2.3rem;
       
    }
    .alquileres_titulo:hover{
        animation-iteration-count: infinite;
    }
        
    .alquileres_propiedad1{
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 2rem;
        
    }
    .alquileres_propiedad2{
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1.8rem;
        
    }
    .alquileres_propiedad3{
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1.8rem;
        
    }
    .alquileres_descripcion{
        margin: 2rem;
        padding: 2rem;
        font-size: 1.8rem;
        
    }
    .alquileres_servicios{
        grid-area: alquileres_servicios; 
        margin: 0.3rem;
        padding: 0.3rem;
        font-size: 1.8rem; 
    }
    .alquileres_lista{
        font-size: 1.5rem;
        margin: 0.3rem;       
    }
    }

    .pieDePaguina{
        height: 20vh;
    
             .logo_fin1{
             height: 16vh;
             margin: 0.1rem;
             padding: 0.3rem;
             border-radius: 1rem;
             }
             .footer_inmo{
                 font-size: 0.8rem;
             }
        
    }
}